{% extends "DevSousTitreBundle::Layout/layout2.html.twig" %}


{% block title %}{{ parent() }} - Accueil{% endblock %}


{% block body %}
  

  <section>
  		<h2>Traduisez les sous-titres de vos films et séries</h2>
  			<p>
				Pour mieux les comprendre.<br>
				Si vous ne retrouvez pas les sous-titres dans votre langue.
				<br><br>
			</p>
  		<h2>Fusionner deux sous-titres afin de les lire en meme temps</h2>
  			<p>
  				Pour vous exercer en ayant en meme temps le sous titre et la traduction à coté.
  				<br><br>
  			</p>
  </section>

<br>
	<section>
		<p>
			retrouver vos sous-titres à traduire sur : <br>
			<a href="http://www.opensubtitles.org/fr"  target="_blank">opensubtitles.org</a>
		</p>
	</section>

{% endblock %}

