*{
	margin:0;
	padding: 0;
}


h2{
	color: #557;
	font-size:19px;
	font-style: italic;
	margin-bottom:0px;
	font-family: "Comic Sans MS";
}

p{
	color: #000;
	font-size:14px;
	padding-left: 30px;
	margin-top:0px;
	/* font-family: "Comic Sans MS"; */
}

hr{
	color:red;
	background:red;
	border-top: 1px #555555 solid;
	box-shadow: 0px -1px 0px 1px #AAC;
	margin-bottom:0px;

}

.theWrapper a:link {
	color: #000;
	text-decoration: none;
	font-weight: bold;
 }
.theWrapper a:visited {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.theWrapper a:active {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.theWrapper a:hover {
	color: #8CF;
	text-decoration: none;
	font-weight: bold;
}




.theWrapper{
	box-shadow: 0px 0px 2px 1px #AAC;
	min-height: 500px;
	padding: 20px 20px 20px 20px; 
	margin-top: 20px;
	margin-bottom: 0px;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;

	
	

}
	
.theWrapper ul{
	list-style-type: none;
}
.theWrapper ul li{
	color: #000000;
	font-size:18px;
	font-style: italic;
	margin-top: 10px;
	font-family: "Comic Sans MS";
}

.theWrapper ul li:before {
   content: '- ';
}



nav ul{
	list-style-type: none;
    margin: 0px;
    padding: 2px;
	width: 100%;

	border-top:1px solid black;
	border-bottom:1px solid black;
	height: 30px;
	text-align: center;
}

nav li{
	display: inline;
	float: left;
	margin: 0px;
	margin-right: 20px;
}

nav li a{
	height: 28px;
	display:block;
	float:left;
	text-decoration:none;
	color:#000;
}

nav li a:hover{
	text-decoration:none;
	color:#1eb8fa;
}
	


.logo{
	font-size: 70px;
	font-family: "Comic Sans MS";
	font-style: italic;
	font-variant: small-caps;
	color : #FFF;
	text-shadow: 3px 5px 5px #000;
}
.souslogo{
	font-size: 30px;
	font: "Arial";
	font-style: normal;
}


h1{
	text-align: center;
}

.footer{
	margin-top: 10px;
	box-shadow: 0px 0px 2px 1px #AAC;
	min-height: 30px;
	font-size: 13px;
	font-family: "Comic Sans MS";
	font-variant: small-caps;
	
}
.center {
     /* float: none; */
     margin-left: auto;
     margin-right: auto;
}
.textcenter {
     /* float: none; */
     text-align: center;
}


.centerLiMenu {
     display:inline-block;
}

